# Defaults
/node_modules
/.next
/out

# Production
/build

# Database
/prisma/*.db
/prisma/*.db-journal
*.db
*.db-journal

# Environment
.env
.env*.local

# Editor/User specific
.vscode
*.code-workspace
.idea

# Project specific items to ignore
KURULUM.txt
ilaverevize.txt
/analyze_excel.py
